body {
    margin: 0;
}

nav {
    background-color: antiquewhite;
    
}

.navbar{
    display:flex;
}


nav ul{
   display:flexbox;
}

nav li{
    list-style: none;
    text-align: center;
}
